# OS / logs
.DS_Store
Thumbs.db
*.log

# Environment files
.env*

# Dart / Flutter
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub/
.pub-cache/
.metadata
build/
coverage/
doc/api/
*.iml
*.tmp

# Generated web artifacts from Dart
*.dart.js
*.info.json
*.js_
*.js.deps
*.js.map

# FVM
.fvm/
!.fvmrc

# IDEs
.idea/
.vscode/

# Android / Gradle
android/.gradle/
android/local.properties
android/key.properties
android/**/GeneratedPluginRegistrant.*
android/app/debug/
android/app/profile/
android/app/release/

# iOS / Xcode
ios/.symlinks/
ios/Pods/
ios/Flutter/.last_build_id
ios/Flutter/App.framework
ios/Flutter/ephemeral/
ios/Flutter/Generated.xcconfig
ios/Flutter/flutter_export_environment.sh
ios/Runner.xcworkspace/
ios/Runner/GeneratedPluginRegistrant.*
ios/**/*.xcuserdatad/
ios/**/*.xcuserstate
